01-n8n/12-RAG.json
{
  "name": "12-RAG",
  "nodes": [
    {
      "parameters": {
        "formTitle": "RAG할 데이터 업로드",
        "formDescription": "파일을 업로드 하세요",
        "formFields": {
          "values": [
            {
              "fieldLabel": "PDF",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -112,
        -64
      ],
      "id": "0073498b-60af-4b83-9cf6-7b34eaff009a",
      "name": "Upload PDF",
      "webhookId": "b9cc1d61-5079-4e43-ad8e-b7f6a29d8a0b"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "qwer"
        },
        "clearStore": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        112,
        -64
      ],
      "id": "ba8f582b-47ea-47b3-802d-3799ed99cae8",
      "name": "Insert Data to Vectorstore"
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        304,
        80
      ],
      "id": "087d21ad-fc94-4c0f-975b-460a872eab36",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        128,
        128
      ],
      "id": "6ffefb5c-8435-454c-b67a-90907f601748",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "crUDwcljSq5eBwPl",
          "name": "수업용 인증"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "memoryKey": {
          "__rl": true,
          "value": "qwer",
          "mode": "list",
          "cachedResultName": "qwer"
        },
        "prompt": "={{ $json.chatInput }}",
        "topK": 5,
        "includeDocumentMetadata": false
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        96,
        336
      ],
      "id": "f34fbc57-4995-4aed-9884-ef7858bed39e",
      "name": "문서 검색기",
      "notesInFlow": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -96,
        336
      ],
      "id": "f1f78536-b913-43ee-8771-d9737d07e4c0",
      "name": "When chat message received",
      "webhookId": "9f0aa63f-5bec-427f-8993-077ae11eb617"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "document.pageContent",
              "renameField": true,
              "outputFieldName": "docs"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        592,
        336
      ],
      "id": "22574df0-75d0-4c4a-b1a4-c0d7fb26d48b",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "너는 사용자 질문에 추가된 정보들을 바탕으로 답변을 만들어 내는 어시스턴트야.\n\n너무 돌려말하지 말고 중요한 핵심만 이야기 해야해."
            },
            {
              "content": "=사용자 질문:  {{ $('When chat message received').item.json.chatInput }}\n\n검색된 문서: {{ $json.docs }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        768,
        336
      ],
      "id": "5fac500a-b0f5-4c51-b3d8-6a911bcd92db",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "crUDwcljSq5eBwPl",
          "name": "수업용 인증"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3a787c6-d92d-4994-a148-3f43dd51fa59",
              "name": "output",
              "value": "={{ $json.output[0].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        336
      ],
      "id": "d0b99204-3567-4853-8330-a73d301e4a99",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bbec307a-0905-42f7-ac62-c67ae7db2477",
              "leftValue": "={{ $json.score }}",
              "rightValue": 0.3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        400,
        336
      ],
      "id": "49842a45-0f5b-4d23-95a6-a2bb70d60026",
      "name": "Filter",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 400,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        416,
        192
      ],
      "id": "ce4c729d-d610-4ca0-8cd1-2c19f79f7877",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Upload PDF": {
      "main": [
        [
          {
            "node": "Insert Data to Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert Data to Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Insert Data to Vectorstore",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "문서 검색기",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Insert Data to Vectorstore": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "문서 검색기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "문서 검색기": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7258c99d-6933-400d-8cb2-6d14b6953c0f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "06f57ead87e05f5144d588b72ffcb2b55a96d8ab9c25ae283efe70c0d676b771"
  },
  "id": "YyqM8McqiNigGxv0",
  "tags": []
}