01-n8n/14-hybrid-rag.json
{
  "name": "14-hybrid-rag",
  "nodes": [
    {
      "parameters": {
        "content": "# 14-hybrid-rag\n\n",
        "height": 1232,
        "width": 2832
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -704,
        -672
      ],
      "typeVersion": 1,
      "id": "5066f19b-22f4-41a5-ad20-758b2e33ac77",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -688,
        -176
      ],
      "id": "3dbc3152-6cb3-4cf0-9115-6d32dcd62d0c",
      "name": "When chat message received",
      "webhookId": "4c40d568-b65c-4b40-95a9-b69f0c747313"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=TODAY: {{$now}}\n\n우리 서비스는 경제, IT를 포함한 여러 주제에 대해 심도있는 답변을 해주는 서비스야.\n\n너는 사용자 질문에 대해 어떤 도구들을 사용해서 최종 답변을 만들지 결정하는 Agent야.\n\n답변을 생성하는것이 아닌, 어떤 일을 해야할지 판단만 해.\n\n사용할 수 있는 route 는 it, economy, web 3가지야.\n\nQuery는 RAG에 사용할거니 잘 만들어.\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -496,
        -176
      ],
      "id": "af50f7b6-08bb-4fe1-a5b6-f43009ee1d4a",
      "name": "사용자 입력->판단"
    },
    {
      "parameters": {
        "jsonSchemaExample": "\n{\n    \"user_input\": \"2026년 한국 경제와 IT 트렌드에 반도체가 있는것 같다. 미국 관세가 여기에 미치는 영향은 뭐가 있을까?\",\n    \"plans\": [\n      \"2026년 한국 경제와 반도체 관련 정보 찾기\",\n      \"2026년 한국 IT 트렌드에서 반도체 내용 찾기\",\n      \"2025년부터 현재까지의 미국 관세 정책 검색\",\n      \"2025년부터 한국-미국 간의 반도체 관련 관세 검색\"\n    ],\n\t\"todos\": [\n      {\"route\": \"economy\", \"query\": \"2026 semi-conductor forecast\"},\n      {\"route\": \"it\", \"query\": \"2026 korean IT trend\"},\n      {\"route\": \"web\", \"query\": \"2026 Kr-Us Politic issues\"},\n      {\"route\": \"web\", \"query\": \"2026 USA tariffs status\"}\n    ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -352,
        48
      ],
      "id": "f4949143-e998-4b7a-bf73-0c0f5dc612e7",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2-chat-latest",
          "mode": "list",
          "cachedResultName": "gpt-5.2-chat-latest"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -576,
        112
      ],
      "id": "06e22025-6e40-443b-a172-448f42013a83",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "crUDwcljSq5eBwPl",
          "name": "수업용 인증"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.todos",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -192,
        -176
      ],
      "id": "0794619d-1fb0-4cf0-b476-123f611cd6cd",
      "name": "Split Out"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "economy",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "56be85e0-f747-4ce6-b738-59f3a0b01c2d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "economy"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0c38d277-8bd0-472e-9c96-ec2860b71349",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "it",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "it"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "248c87da-4d1c-4fea-bc4b-4b5b91394423",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "web",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "web"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -32,
        -192
      ],
      "id": "2255466a-2ae9-4137-8022-80b7be46ef00",
      "name": "Switch"
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "pinecone-test",
          "mode": "list",
          "cachedResultName": "pinecone-test"
        },
        "prompt": "={{ $json.query }}",
        "includeDocumentMetadata": false,
        "options": {
          "pineconeNamespace": "economy"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        208,
        -432
      ],
      "id": "63683202-b61f-4ee6-ae05-b3ad97ee5fc8",
      "name": "rag-economy",
      "credentials": {
        "pineconeApi": {
          "id": "X8WLPDin8Pa7Ny0f",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        64
      ],
      "id": "93a1b036-4187-4507-868c-9889f5894c8a",
      "name": "Tavily"
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        208,
        -192
      ],
      "id": "42e3d953-8097-4d60-8f88-358037dd6f3c",
      "name": "rag-it",
      "credentials": {
        "pineconeApi": {
          "id": "X8WLPDin8Pa7Ny0f",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        -288
      ],
      "id": "8fe15bf2-e04a-4fd6-a1de-e634a207ef28",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "crUDwcljSq5eBwPl",
          "name": "수업용 인증"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "responses": {
          "values": [
            {}
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        720,
        -432
      ],
      "id": "3b9ed714-4c8d-47ec-8d2a-e51ccc6fdf1b",
      "name": "경제 전문가",
      "credentials": {
        "openAiApi": {
          "id": "crUDwcljSq5eBwPl",
          "name": "수업용 인증"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        544,
        -432
      ],
      "id": "6490213a-3c36-43e8-8e37-ad622037a8bb",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        528,
        -192
      ],
      "id": "9ab58f9b-56e4-4010-b13f-08052a8e6167",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "responses": {
          "values": [
            {}
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        704,
        -192
      ],
      "id": "c7b15c0e-0693-466f-8068-bdb72b58ede1",
      "name": "경제 전문가1",
      "credentials": {
        "openAiApi": {
          "id": "crUDwcljSq5eBwPl",
          "name": "수업용 인증"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        432,
        64
      ],
      "id": "a402ee39-fa5a-412e-895b-9007be49a4ac",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "responses": {
          "values": [
            {}
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        672,
        64
      ],
      "id": "f5f12562-c4b7-48fd-8d6e-7911e0bf2ecb",
      "name": "요약 전문가",
      "credentials": {
        "openAiApi": {
          "id": "crUDwcljSq5eBwPl",
          "name": "수업용 인증"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1088,
        -160
      ],
      "id": "9e1149fa-a2fa-44d5-a1bf-0e1da61fd54d",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "최종 답변 만들어 줘\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1296,
        -144
      ],
      "id": "4ea1a890-97f4-49cd-8448-9a39d5fdd702",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        608,
        432
      ],
      "id": "07426135-d978-4334-a0cc-7a57af90847d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d48b8dbc-742f-4db4-ae01-b5956a9d2b1e",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1600,
        -144
      ],
      "id": "f4ad2fcc-4674-42b4-8c44-dfb616bc8a1c",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "사용자 입력->판단",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "사용자 입력->판단",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "사용자 입력->판단",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "사용자 입력->판단": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "rag-economy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "rag-it",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tavily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "rag-economy",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "rag-it",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "rag-economy": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "경제 전문가",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rag-it": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "경제 전문가1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "요약 전문가",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "경제 전문가": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "경제 전문가1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "요약 전문가": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "사용자 입력->판단",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "114f14a0-99fe-4d15-b34a-62d4b7cf031e",
  "meta": {
    "instanceId": "06f57ead87e05f5144d588b72ffcb2b55a96d8ab9c25ae283efe70c0d676b771"
  },
  "id": "P9fivFawWRmV8TbY",
  "tags": []
}