01-n8n/p05-Lotto-Agent.json
{
  "name": "p05-Lotto-Agent",
  "nodes": [
    {
      "parameters": {
        "content": "사용자 쿼리\n1. 정보 추출\n- 회차 정보\n- 요구 사항\n2. 필요 정보\n- 오늘 날짜\n- 가장 마지막 추첨 회차 + 날짜\n",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        -336
      ],
      "typeVersion": 1,
      "id": "f5192242-e648-402b-bf78-8083811b44aa",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "기능 (API)\n- 최신 회차 GET\n- 특정 단일 회차 GET\n- 범위 회차 GET"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        -384
      ],
      "typeVersion": 1,
      "id": "2e69a319-7296-4686-a008-8536f4988035",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "기능 (DB)\n- 조회(회차로)\n- 생성\n\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        -352
      ],
      "typeVersion": 1,
      "id": "16fc6486-52b2-4add-b9a2-e00ea88ba1b5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "url": "https://www.dhlottery.co.kr/lt645/selectPstLt645Info.do",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -544,
        -64
      ],
      "id": "be5387af-f44c-4c52-b57c-1a8c4905bb83",
      "name": "Fetch-최신회차"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "lotto_draws",
          "mode": "list",
          "cachedResultName": "lotto_draws"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "draw_round": "={{ $json.ltEpsd }}",
            "win_num_1": "={{ $json.tm1WnNo }}",
            "win_num_2": "={{ $json.tm2WnNo }}",
            "win_num_3": "={{ $json.tm3WnNo }}",
            "win_num_4": "={{ $json.tm4WnNo }}",
            "win_num_5": "={{ $json.tm5WnNo }}",
            "win_num_6": "={{ $json.tm6WnNo }}",
            "bonus_num": "={{ $json.bnsWnNo }}",
            "first_prize_winners": "={{ $json.rnk1WnNope }}",
            "first_prize_amount": "={{ $json.rnk1WnAmt }}",
            "second_prize_winners": "={{ $json.rnk2WnNope }}",
            "second_prize_amount": "={{ $json.rnk2WnAmt }}",
            "draw_date": "={{ $json.ltRflYmd }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "draw_round",
              "displayName": "draw_round",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "win_num_1",
              "displayName": "win_num_1",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "win_num_2",
              "displayName": "win_num_2",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "win_num_3",
              "displayName": "win_num_3",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "win_num_4",
              "displayName": "win_num_4",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "win_num_5",
              "displayName": "win_num_5",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "win_num_6",
              "displayName": "win_num_6",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "bonus_num",
              "displayName": "bonus_num",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "draw_date",
              "displayName": "draw_date",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "first_prize_winners",
              "displayName": "first_prize_winners",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "first_prize_amount",
              "displayName": "first_prize_amount",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "second_prize_winners",
              "displayName": "second_prize_winners",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "second_prize_amount",
              "displayName": "second_prize_amount",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        160,
        528
      ],
      "id": "7e459ae7-989c-4495-b5f7-c24643da06c8",
      "name": "로또 정보 생성",
      "credentials": {
        "postgres": {
          "id": "kqM566144RNhzlSR",
          "name": "db-lecture"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "lotto_draws",
          "mode": "list",
          "cachedResultName": "lotto_draws"
        },
        "where": {
          "values": [
            {
              "column": "draw_round",
              "value": "={{ $json['output.rounds'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        304,
        -96
      ],
      "id": "26b42984-5ead-48b1-b493-2d395ab868d8",
      "name": "단일 회차 조회",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "kqM566144RNhzlSR",
          "name": "db-lecture"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=오늘 날짜: {{ $now.format('yyyy/LL/dd ccc') }}\n\n가장 최근 로또를 추첨한 날짜: {{ $json.data.list[0].ltRflYmd }} - Sat\n가장 최근 추첨 회차: {{ $json.data.list[0].ltEpsd }}회\n\n사용자 질문:\n{{ $('Chat').item.json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "너는 로또 전문 AI 어시스턴트야.\n\n오늘 날짜, 최근 추첨 회차와 날짜를 활용해서 사용자 질문에 맞는 답을 해야해.\n저번주, 저번, 가장 최근은 모두 다 마지막 추첨을 의미함.\n\n우리 DB에는 다음과 같은 테이블이 있어.\n```sql\nCREATE TABLE lotto_draws (\n    draw_round INT PRIMARY KEY,        -- 회차\n    win_num_1 INT NOT NULL,\n    win_num_2 INT NOT NULL,\n    win_num_3 INT NOT NULL,\n    win_num_4 INT NOT NULL,\n    win_num_5 INT NOT NULL,\n    win_num_6 INT NOT NULL,\n    bonus_num INT NOT NULL,\n    draw_date DATE NOT NULL,   -- 추첨 날짜\n    first_prize_winners INT NOT NULL,  -- 1등 당첨자 수\n    first_prize_amount BIGINT NOT NULL,  -- 1등 당첨금액\n    second_prize_winners INT NOT NULL,  -- 2등 당첨자 수\n    second_prize_amount BIGINT NOT NULL  -- 2등 당첨금액\n);\n```"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -368,
        -64
      ],
      "id": "496e869f-4305-47bb-8c95-d14d87db20d1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -736,
        -64
      ],
      "id": "e19e271e-1118-4eaa-af30-b2b6bf58a7e4",
      "name": "Chat",
      "webhookId": "f93227a1-3391-4013-9c08-f024e014d017"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -352,
        144
      ],
      "id": "ae75f481-81f8-471d-a8f5-6519d985553a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -512,
        144
      ],
      "id": "885e8414-d966-4c95-9d83-1e8e5f7d405b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "crUDwcljSq5eBwPl",
          "name": "수업용 인증"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"title\": \"LottoAgentStructuredOutput\",\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"required\": [\"is_available\", \"rounds\", \"sql\"],\n  \"properties\": {\n    \"is_available\": {\n      \"type\": \"boolean\",\n      \"description\": \"사용자의 질문이 DB/SQL 기반으로 답변 가능한지 여부\"\n    },\n    \"rounds\": {\n      \"type\": \"array\",\n      \"description\": \"사용자가 원하는 회차 목록(정수 배열). is_available=false면 반드시 빈 배열.\",\n      \"items\": {\n        \"type\": \"integer\",\n        \"minimum\": 1\n      },\n      \"uniqueItems\": true\n    },\n    \"sql\": {\n      \"type\": \"string\",\n      \"description\": \"데이터 조회를 위한 SQL. is_available=false면 반드시 빈 문자열.\"\n    }\n  },\n  \"allOf\": [\n    {\n      \"if\": {\n        \"properties\": { \"is_available\": { \"const\": false } },\n        \"required\": [\"is_available\"]\n      },\n      \"then\": {\n        \"properties\": {\n          \"rounds\": { \"maxItems\": 0 },\n          \"sql\": { \"const\": \"\" }\n        }\n      },\n      \"else\": {\n        \"properties\": {\n          \"rounds\": { \"minItems\": 1 },\n          \"sql\": { \"minLength\": 1 }\n        }\n      }\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -208,
        144
      ],
      "id": "d2cff948-6508-4863-9fce-d92ec3f1d7da",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e3ef3fc5-c196-4fef-9097-acb189c6f7fd",
              "leftValue": "={{ $json.output.is_available }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -80,
        -64
      ],
      "id": "b1be06fb-c2e5-443a-ab4d-3e30f076c446",
      "name": "처리 가능 여부"
    },
    {
      "parameters": {
        "content": "DB에 회차 정보 있음?\n",
        "height": 272,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        -128
      ],
      "typeVersion": 1,
      "id": "8684f93d-5c74-4c05-adba-5bde1f243d0f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.rounds",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        144,
        -96
      ],
      "id": "b8bae5df-3c88-4b77-a9fe-0655d726ad1b",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "lotto_draws",
          "mode": "list",
          "cachedResultName": "lotto_draws"
        },
        "where": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -32,
        -240
      ],
      "id": "dd96e0b0-f33b-4178-807a-3190c77942c0",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "kqM566144RNhzlSR",
          "name": "db-lecture"
        }
      }
    },
    {
      "parameters": {
        "content": "로또 데이터 가져오는 워크플로우\n\n1. 정확히 항상 사용자가 원하는 회차만 찍어서 가져온다.\n\n2. 사용자가 원하는 회차가 연속 범위가 아니라도, 우선 가져오고 DB에 다 넣는다.\n1100 1102 1104 1106 -> 1100 ~ 1106 다 가져와서 저장함\n\n800",
        "height": 384,
        "width": 544
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        320
      ],
      "typeVersion": 1,
      "id": "a3a22f25-a62e-4980-843d-6d19679d7cb9",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "url": "https://www.dhlottery.co.kr/lt645/selectPstLt645Info.do",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "srchStrLtEpsd",
              "value": "1"
            },
            {
              "name": "srchEndLtEpsd",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -176,
        528
      ],
      "id": "5adff727-b93f-45bc-bf51-78186d2c111c",
      "name": "Fetch-단일회차"
    },
    {
      "parameters": {
        "url": "https://www.dhlottery.co.kr/lt645/selectPstLt645Info.do",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "srchStrLtEpsd",
              "value": "1"
            },
            {
              "name": "srchEndLtEpsd",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -624,
        336
      ],
      "id": "e049bf2c-abeb-4804-ab55-d3add649b541",
      "name": "Fetch-범위"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.list",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -16,
        528
      ],
      "id": "bdbc5fc5-4b57-482a-b355-d12d3f54fc9b",
      "name": "회차 쪼개기"
    }
  ],
  "pinData": {},
  "connections": {
    "단일 회차 조회": {
      "main": [
        []
      ]
    },
    "Fetch-최신회차": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "main": [
        [
          {
            "node": "Fetch-최신회차",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "처리 가능 여부",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "처리 가능 여부": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "단일 회차 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch-단일회차": {
      "main": [
        [
          {
            "node": "회차 쪼개기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "회차 쪼개기": {
      "main": [
        [
          {
            "node": "로또 정보 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Seoul",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "1584025d-5a7f-47f5-873d-c00c9b074aae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "06f57ead87e05f5144d588b72ffcb2b55a96d8ab9c25ae283efe70c0d676b771"
  },
  "id": "bOUmQ4yMXSxoHg51",
  "tags": []
}